/* General setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* header */
header {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 40px;

}
nav a {
  text-decoration: none;
  color: #707070;
  margin-left: 20px;
}
